body{
    margin-left: 25px;
    background-color: wheat;
}
.page-header{
    margin-bottom: 40px; 
}
#firstImage{
    padding-left: 180px;
}
.imageTest{
    width: 150px;
    height: 50px;
}
#Call{
display: none;
}
#number{
    display: none;    
}
.icon{
    display: none;
}
#Menu{
    display: none;
}
#iid{
    display: none;
}
#twitter{
    margin-right: 15px;
    width: 25px;
    height:25px; 
}
#facebook{
    width: 25px;
    height:25px; 
    margin-right: 15px;

}
#gmail{
    margin-right: 15px;
    width: 25px;
    height:25px; 
}
#linkedIn{
    width: 25px;
    height:25px; 
}
.defilement{
    position: relative;
    display: flex;
    align-items: center;
}
#precedent, #suivant{
    cursor: pointer;
    position: absolute;
    font-size: 100px;
    opacity: 0.6;
    color:white;
    background-color: rgba(0,0,0, 0.8);
}
#precedent{
    padding-bottom: 20px;
    left:0;
}
#suivant{
    padding-bottom: 20px;
    right:4%;
}
#image_maison{
    width: 96%;

}
/*.elements{
    display: flex;
    transition: 1s linear;
}
.element{
    flex: 1 0 100%;
    position: relative;
}
.elements img{
    width: 1350px;
    height: 784;
}*/

/*  PAGE 2 */
/*  PAGE 2 */
/*  PAGE 2 */
/*  PAGE 2 */
.page2{
    margin-top: 140px;
}
#about{
    color: rgb(117, 156, 104);
    font-size: 20px;
}
#archi{
    font-size: 32px;
    font-family: sans-serif;
}
#lorem{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#page_2_about{
    padding-right: 70px;
    padding-bottom: 220px;
    margin-left: 70px;
}
#maison2{
    width: 390px;
    height: 360px;
    padding-left: 60px;
}


/*  PAGE 3 */
/*  PAGE 3 */
/*  PAGE 3 */
/*  PAGE 3 */
.page3{
    margin-top: 140px;
}
#latestDiv{
    padding-left:120px;
    margin-bottom: 40px;
}
#latest{
    font-family: Arial, Helvetica, sans-serif;
}
#all{
    margin-right: 15px;
}
#bulding{
    margin-right: 15px;
}
#interior{
    margin-right: 15px;
}
#view{
    opacity: 0.5;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
#image{
    padding-bottom: 160px;
}
#maison3{
    width: 200px;
    height:200px; 
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 50px;
}
/*
#superposition .hover{
   position: absolute;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background-color: rgba(0,0,0, 0.5);

}
#superposition:hover .hover{
    opacity: 1;
}
.texteA{
    color: blue;
    font-size: 30px;
    text-align: center;
    position: absolute;
    left: 50%;
}*/


#maison4{
    width: 200px;
    height:200px; 
    margin-bottom: 50px;

}
#maison5{
    width: 200px;
    height:200px; 
    margin-right: 5%;
    margin-left: 5%;
}
#maison6{
    width: 200px;
    height:200px; 
}

/*  PAGE 4 */
/*  PAGE 4 */
/*  PAGE 4 */
/*  PAGE 4 */


.page4{
    margin-top: 140px;
    background-image: radial-gradient(rgb(209, 203, 203) 1px, transparent 1px);
    background-size: 10px 10px;
    padding-top: 100px;
    padding-bottom: 100px;
}
#fromGreat{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    padding-left: 100px;

}
#fleche{
    display: none;
}
#fleche1{
    display: none;
}
#lorem4{
    padding-top: 40px;
    padding-left: 70px;
}
.nom{
    display: flex;
    align-items: center;
}
#perso1{
    padding-top: 5px;
    padding-left: 5px;
    background-color: whitesmoke;
    margin-right: 110px;
}
#perso2{
    padding-top: 5px;
    padding-left: 5px;
    background-color: whitesmoke;
    margin-right: 110px;
}
#pp{
    width: 110px;
    border-radius: 50%;
}
.image_page4{
    padding-top: 80px;
}
#img-appo{
    display: flex;
    align-items: center;
}

#cic{
    width: 80px;
    height:50px; 
    padding-left: 12%;
    padding-right: 28%;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    opacity: 0.4;

}
#Bnp{
    width: 110px;
    height:40px; 
    padding-top: 30px;
    padding-left: 12%;
    padding-right: 20%;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    opacity: 0.4;
}
#generale{
    width: 110px;
    height:30px; 
    padding-bottom: 10px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    opacity: 0.4;
}
#asus{
    width: 90px;
    height:30px; 
    padding-right: 110px;
    padding-left: 38%;
    padding-top: 30px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    opacity: 0.4;
}
#pharma{
    width: 90px;
    height:40px; 
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    opacity: 0.4;
}

/*  PAGE 5 */
/*  PAGE 5 */
/*  PAGE 5 */
/*  PAGE 5 */


.page5{
    margin-top: 140px;
    margin-left: 40px;
    margin-right: 40px;
}
#page5_title{
    display: flex;
    align-items: center;
}

#latestNews{
    padding-right: 150px;
    padding-bottom: 50px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
#articles{
    padding-bottom: 50px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    opacity: 0.7;
}
#maison7{
    width: 250px;
    height: 250px; 
    margin-right: 100px;
    margin-left: 100px;
}
#maison8{
    width: 250px;
    height: 250px; 
    margin-right: 100px;
    margin-left: 100px;
}
#maison9{
    width: 250px;
    height: 250px; 
    margin-right: 100px;
    margin-left: 100px;
}

footer{
    margin-top: 140px;
    margin-right: 40px;
    border-top: 1px solid grey;
}
#carre{
    padding-top: 40px;
    padding-left: 35%;
    width: 140px;
    height: 40px;
}
#class-page6-carre{
    padding-left: 35%;
    padding-top: 40px;
}
#class-page6-siteMap{
    padding-top: 40px;
    padding-left: 35%;
}
#class-page6-location{
    padding-top: 40px;
    padding-left: 35%;
}
#class-page6-langue{
    padding-top: 40px;
    padding-left: 35%;
    padding-bottom: 40px;
}
.texte{
    font-size: 14px;
}
.icon2{
    padding-bottom: 40px;
    padding-left: 130px;
    display: flex;
    align-items: center;
}
#nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 3em;
}
#nav-droite{
    right: 20px;
}
#nav-gauche{
    left: 20px;
}
